body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
}

#display {
    width: 100%;
    height: 45px;
    font-size: x-large;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

button {
    padding: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.equals {
    
    grid-column: span 5;
    background: #4CAF50;
    color: white;
}

.clear { background: red; color: white; }
.del { background: gray; color: white; }
.symbols { background: rgb(32,166,211); }
.mode { background: orange; font-weight: bold; }
